
button.btn.eliminar {
    background-color: red; 
    color: white;          
    border: none;          
    padding: 5px 10px;     
    cursor: pointer;      
    border-radius: 5px;   
    font-size: 14px;        
    transition: background-color 0.3s ease; 
}


button.btn.eliminar:hover {
    background-color: darkred; 
}



button.btn.azul, a.btn.azul {
    background-color: #007bff;
    color: white;              
    border: none;              
    padding: 10px 20px;       
    cursor: pointer;       
    border-radius: 5px;      
    text-decoration: none;    
    display: inline-block;   
    font-size: 16px;         
    transition: background-color 0.3s ease; 
}


button.btn.azul:hover, a.btn.azul:hover {
    background-color: #0056b3;
}
