nav, footer, .contenido-general {
    display: none !important;
}

#btn-volver {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#btn-volver:hover {
    background-color: #45a049;
}

.mensaje {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.check-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.check {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid green;
    position: relative;
    opacity: 0;
    transform: scale(0.5);
    animation: aparecer 0.5s forwards ease-in-out;
}

.check::after {
    content: '\2714';
    font-size: 80px;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    animation: marcar 0.5s 0.5s forwards ease-in-out;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: scale(0.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes marcar {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}
