nav {
    background: linear-gradient(45deg, lightgray, lightblue);
    background-size: 400% 400%;
    animation: rainbow 10s ease infinite;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.navbar-nav .nav-link {
    position: relative;
    text-decoration: none;
    padding-bottom: 3px;
}

.navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #000; 
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.5s ease;
    bottom: 0;
    left: 0;
}

.navbar-nav .nav-link:hover::before {
    transform: scaleX(1);
}

body{
    background : #000 ;
}

.navbar-nav {
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item:last-child {
    margin-left: auto;
}
