
body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between; 
    padding: 20px;
    width: 100%;
}

.text-container {
    max-width: 500px;  
}

h1 {
    font-size: 36px;
}

.rating {
    font-size: 18px;
    margin: 10px 0;
}

p {
    font-size: 16px;
}

.btn {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    cursor: pointer;
    font-size: 14px;
}

.btn.secondary {
    background-color: gray;
}

.btn:hover {
    opacity: 0.8;
}

.image-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start; 
    gap: 20px;  
    margin-left: 10px;  
}


img {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0); 
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeInUp 0.5s ease-out; 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    color: black;
    border-radius: 15px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

