.font-custom {
    font-family: "Courier New", sans-serif;
    font-weight: 500;
}


.nav-carrusel {
    width: 100%; 
    height: 300px; 
    overflow: hidden;
    position: relative;
    border-radius: 15px;
}

.carrusel-nav {
    width: 100%; 
    height: 100%; 
    position: relative;
}

.carrusel {
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    animation: slide 16s infinite;
}

.carrusel-inner {
    display: flex;
    transition: transform 1s ease;
}

.carrusel-inner img {
    width: 100%;
    height: auto; 
    flex-shrink: 0; 
}

@keyframes slide {
    0% { transform: translateX(0); }
    33% { transform: translateX(-100%); }
    66% { transform: translateX(-200%); }
    100% { transform: translateX(0); }
}
